@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//     font-family: "AppleGaramond";
//     src: local("AppleGaramond"),
//         url(~assets/fonts/AppleGaramond-Bold.ttf) format("truetype"),
//         url(~assets/fonts/AppleGaramond-BoldItalic.ttf) format("truetype");
// }

// import AppleGaramond bolf & bold italic
@font-face {
    font-family: "AppleGaramond";
    src: url(~assets/fonts/AppleGaramond.ttf) format("truetype");
    // font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AppleGaramond";
    src: url(~assets/fonts/AppleGaramond-Italic.ttf) format("truetype");
    // font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "AppleGaramond";
    src: url(~assets/fonts/AppleGaramond-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "AppleGaramond";
    src: url(~assets/fonts/AppleGaramond-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Poppins', sans-serif;
    @apply text-sun-black bg-sun-gray-50;
}

h1,
h2,
h3 {
    font-family: 'AppleGaramond', 'Instrument Serif', serif;
    @apply tracking-tight font-bold;
}

h1 {
    @apply text-7xl mb-8;

    @screen sm {
        @apply text-8xl;
    }

}

h2 {
    @apply text-6xl mb-2;

    @screen sm {
        @apply text-7xl;
    }
}

h3 {
    @apply text-4xl mb-3;

    @screen sm {
        @apply text-5xl;
    }
}



section {
    @apply flex flex-col justify-center items-center w-full;
}

.section-content {
    @apply max-w-screen-xl p-10 w-full;

    // @screen md {
    //     @apply px-4;
    // }
}